<div class="d-flex justify-content-center align-items-center min-vh-100 bgcolor" style="background-image: url('images/kathakali.jpg');">
    <div class="card p-4" style="width: 400px;">
        <h3 class="card-title text-center">Welcome Back..!</h3>
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="email" class="form-control" id="username" formControlName="username"
                        placeholder="Use Your Email ID">
                    <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
                        <div *ngIf="loginForm.get('username')?.errors?.['required']" class="text-danger">This field is
                            required.</div>
                        <div *ngIf="loginForm.get('username')?.errors?.['email']" class="text-danger">Please enter a
                            valid email.</div>
                        <div *ngIf="loginForm.get('username')?.errors?.['minLength']" class="text-danger">Please enter a
                            valid email.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" formControlName="password"
                        placeholder="Password">
                    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                        class="text-danger">
                        <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</div>
                        <div *ngIf="loginForm.get('password')?.errors?.['minLength']">Password should be atleast 8
                            characters long</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid">Log In</button>
            </form>
            <div class="text-center">
                <a href="#" id="forgotpassword">Forgot Password?<br></a>
                <a>
                    <p (click)="onSignupClick()" style="cursor: pointer;">Yet to Join? <span id="signup">Sign-Up</span></p>
                </a>
            </div>
        </div>
    </div>
</div>