.bgcolor{
    background-repeat: no-repeat;
    background-size: cover;
}
.card {
    background-color: #bbbbbbda;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 600ms ease-out;
}
.card:hover{
    transform: scale(1.1);
}

.card-title{
    color: black;
    font-weight: bold;
    font-size: 30px;
}

label{
    color: black;
    font-size: 15px;
    font-weight: 400;
}

.form-control {
    border: none;
    color: #ffffff;
    // margin-top: 6px;
    margin-bottom: 6px;
}

.btn-primary {
    background-color:white;
    color: #1f1e1e;
    margin-top: 8px;
    font-size: 15px;
    font-weight: 600;
}
.btn-primary:hover{
    background-color:  rgba(87, 95, 87, 0.402);
}
.form-control:hover{
    background-color: rgba(87, 95, 87, 0.402);
}

#forgotpassword, #signup{
    text-decoration: none;
    color: rgb(4, 26, 4);
    align-content: center;
}

#forgotpassword:hover, #signup:hover{
    color: rgb(109, 73, 7);
    font-weight: bold;
}
