<div class="container-fluid home-container p-0">
    <img src="images/kathakali.jpg" alt="Kerala" class="img-fluid w-100">
    <div class="contentcontainer">
        <div class="overlay d-flex justify-content-flexstart align-items-flexstart">
            <div class="content text-center text-white p-4">
                <h1>Welcome to Kerala</h1>
                <p>Ranging from tranquil backwaters, lush green tea plantations, unique art forms, vibrant festivals to varied spices, Kerala known as <span id="tagline"><b>God's Own Country</b></span>, is a beautiful tropical paradise of waving palms and wide sandy beaches.</p>
                <a id="explore" routerLink="/explore">Explore</a>
            </div>
        </div>
    </div>
</div>